<h1 class="please-wait">Please wait</h1>
<p class="please-wait">Your answer is now verified by the referee.</p>

<div id="loader">
	<img src="/images/loader.gif" />
</div>
<div id="verifier"></div>
<div class="opinion" id="opinion-wrong">
	<p>Unfortunately your answer is wrong. Please try again.</p>
	<button id="verify-retry" class="btn btn-primary btn-basic-orange verify-button">Retry</button>
</div>
<div class="opinion" id="opinion-success">
	<p>Good job! Prepare for next mission.</p>
	<button id="verify-go" class="btn btn-primary btn-basic-orange verify-button">Go for it!</button>
</div>
